$primary: #2642AE;
$primary-hover: #18630C;
$primary-pressed: #18630C;
$primary-2: #8E9BAE;
$red-pressed: #F97D7D;
$dark: #283445;
$black: #000000;
$white: #FFFFFF;
$grey: #737A7C;
$disabled: #D2D0D0;
$light-grey: #D2D2D2;
$blue: #2795E7;
$form-color: #6F6777;

