@import './colors';
@import './mixins';

.input-field {
    font-family: 'nunitomedium';
    font-size: 14px;
    line-height: 135%;
    text-transform: none;
    border-radius: 15px;
    border: 1px solid var(--grey-2, #E4E4E4);
    background: #FFF;
    width: 100%;
    box-sizing: border-box;
    display: inline-flex;
    padding: 16px;
    align-items: center;
    font-weight: 500;
    color: $black;

    &:hover {
        cursor: pointer;
    }

    &:focus {
        border: 1px solid $primary;
        outline: none;
    }

    /* Chrome, Safari, Edge, Opera */
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }

    @include bp(mobile) {
        width: 100%;
    }
}